<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <listeners>
        <listener class-name="Utility.testReportListener"/>
    </listeners>
    
    <test name="Zygal Connect Mobile App Test Cases">
        <classes>
            <class name="Test.loginPageTest"/>
            <class name="Test.homePageTest"/>
        </classes>
    </test>
</suite>
