<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
<!--Modification date: 14-05-2025 Name: Prashant-->
<!--Message : Login and Logout flow is completed-->
    
    <listeners>
        <listener class-name="Utility.testReportListener"/>
    </listeners>
    
    <test name="Zygal Connect Mobile App Test Cases">
        <classes>
            <!-- Login Page Test Cases -->
            <class name="Test.loginPageTest">
                <methods>
                    <include name="loginWithValidCredentialsTest"/>
                    <include name="loginWithInvalidCredentialsTest"/>
                    <include name="verifyEmptyUserEmail"/>
                    <include name="loginWithInvalidEmail"/>
                    <include name="loginWithNotRegisteredEmail"/>
                    <include name="verifyAdminViewerLoginBlock"/>
                    <include name="loginwithWrongOTP"/>
                    <include name="verifySameEmailOnOtpPage"/>
                    <include name="verifyAccountBlock"/>
                    <include name="verifyGoToSignPage"/>
                    <include name="verifyAccountBlockOnGetOtpPage"/>
                    <include name="verifyResendOTP"/>
                    <include name="verifyAccountBlockOnResendOtp"/>                   
                </methods>
            </class>

            <!-- Home Page Test Cases -->
            <class name="Test.homePageTest">
                <methods>
                    <include name="verifyHomePageLoads"/>
                    <include name="goToProfilePage"/>
                </methods>
            </class>
            
            <!-- profile Page Test Cases -->
            <class name="Test.profilePageTest">
                <methods>
                <include name="verifyProfilePageLoad"/>
                <include name="verifySuccessfulLogout"/>
                    <!-- <include name="verifyProfilePageLoads"/>-->
                     <!--<include name="goToProfilePage"/>-->
                </methods>
            </class>
            
        </classes>
    </test>

</suite>
