<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
<!--Modification date: 13-05-2025-->
    
    <listeners>
        <listener class-name="Utility.testReportListener"/>
    </listeners>
    
    <test name="Zygal Connect Mobile App Test Cases">
        <classes>
            <!-- Login Page Test Cases -->
            <class name="Test.loginPageTest">
                <methods>
                    <include name="loginWithValidCredentialsTest"/>
                    <exclude name="loginWithInvalidCredentialsTest"/>
                    <!-- Toggle the next line to true/false -->
                    <!-- <exclude name="loginWithInvalidCredentialsTest"/> -->
                </methods>
            </class>

            <!-- Home Page Test Cases -->
            <class name="Test.homePageTest">
                <methods>
                    <include name="verifyHomePageLoads"/>
                    <include name="goToProfilePage"/>
                </methods>
            </class>
            
            <!-- profile Page Test Cases -->
            <class name="Test.profilePageTest">
                <methods>
                <include name="verifyProfilePageLoad"/>
                    <!-- <include name="verifyProfilePageLoads"/>-->
                     <!--<include name="goToProfilePage"/>-->
                </methods>
            </class>
            
        </classes>
    </test>

</suite>
